@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cabinet Grotesk";
  src: url(../public/FontshareKit-2406001166/FontshareKit-2406001166/CabinetGrotesk/Fonts/OTF/CabinetGrotesk-Extrabold.otf)
    format("truetype");
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --glow-color: hsl(186, 100%, 69%);

    --gravitation-constant: 6.673;
    --stars: 300;

    --rotate-speed: 40;
    --count: 8; /* Default count, the DOM element should override this */
    --easeInOutSine: cubic-bezier(0.37, 0, 0.63, 1);
    --easing: cubic-bezier(0, 0.37, 1, 0.63);
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h1,
h5 {
  font-family: "Cabinet Grotesk", sans-serif;
}

.box {
  @apply w-[250px] lg:w-full h-[200px] bg-boxBackground relative shadow-customTwo;
}

.box::before,
.box::after {
  mix-blend-mode: multiply;
  filter: none;
  z-index: -1;
  content: "";
  width: calc(100% + (50px * 2));
  height: calc(100% + (50px * 2));
  position: absolute;
  display: block;
  animation: border 10s ease-in-out infinite;
  transform: translateX(-50px) translateY(-50px);
}

.box::before {
  background-color: #eab9c8;
  clip-path: polygon(
    calc(0% + 33.333px) calc(0% + 33.333px),
    100% 0,
    calc(100% - 33.333px) calc(100% - 33.333px),
    0 100%
  );
}

.box::after {
  animation-delay: -5s;
  background-color: #93e1d8;
  clip-path: polygon(
    0 0,
    calc(100% - 33.333px) calc(0% + 33.333px),
    100% 100%,
    calc(0% + 33.333px) calc(100% - 33.333px)
  );
}

.box:hover::before,
.box:hover::after {
  animation-duration: 0.2s;
}

.box:hover::after {
  animation-delay: -0.1s;
}

.profile:hover {
  @apply flex-none w-full shadow-2xl -translate-y-6;
}

.profile:hover .content {
  @apply opacity-100 translate-y-0 visible;
}

.container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  flex-wrap: wrap;
  padding: 40px 0;
}

.container .box-card {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 40px 30px; */
  transition: 0.5s;
}

.container .box-card::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 50px;
  width: 50%;
  height: 80%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transform: skewX(-15deg);
  transition: 0.5s;
}

.container .box-card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50;
  width: 50%;
  height: 80%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(-15deg);
  transition: 0.5s;
  filter: blur(30px);
}

.container .box-card:hover:before,
.container .box-card:hover:after {
  transform: skewX(0deg);
  /* left: 20px; */
  width: calc(100% - 90px);
}

.container .box-card:nth-child(1):before,
.container .box-card:nth-child(1):after {
  background: linear-gradient(315deg, #ffbc00, #ff0058);
}

.container .box-card:nth-child(2):before,
.container .box-card:nth-child(2):after {
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.container .box-card:nth-child(3):before,
.container .box-card:nth-child(3):after {
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.container .box-card span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.container .box-card span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.container .box-card:hover span::before {
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.container .box-card span::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  animation-delay: -1s;
}

.container .box-card:hover span:after {
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.container .box-card .content {
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
}

.container .box-card:hover .content {
  /* left: -25px; */
  padding: 60px 40px;
}

.face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &.face1 {
    box-sizing: border-box;
    padding: 20px;

    h2 {
      margin: 0;
      padding: 0;
    }
  }

  &.face2 {
    transition: 0.5s;

    h2 {
      margin: 0;
      padding: 0;
      font-size: 3em;
      color: #fff;
      transition: 0.5s;
      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      z-index: 10;
    }
  }
}

.card:hover .face.face2 {
  height: 60px;
}

.card:nth-child(1) .face.face2 {
  background-image: linear-gradient(
    40deg,
    #18298b 0%,
    #21339c 45%,
    #e8e8cd 100%
  );
  border-radius: 15px;
}

@keyframes wiggle {
  0% {
    transform: translateY(0) translateZ(-840px) rotateX(64deg) rotateY(-21deg)
      rotateZ(80deg) scale(0.9);
  }
  25% {
    transform: translateY(0) translateZ(-820px) rotateX(66deg) rotateY(-24deg)
      rotateZ(84deg) scale(0.9);
  }
  50% {
    transform: translateY(0) translateZ(-840px) rotateX(62deg) rotateY(-23deg)
      rotateZ(82deg) scale(0.9);
  }
  75% {
    transform: translateY(0) translateZ(-840px) rotateX(63deg) rotateY(-19deg)
      rotateZ(78deg) scale(0.9);
  }
  100% {
    transform: translateY(0) translateZ(-840px) rotateX(64deg) rotateY(-21deg)
      rotateZ(80deg) scale(0.9);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-loop {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-loop-alt {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animation-wiggle {
  animation: wiggle 20s infinite linear;
}

.animation-fade {
  animation: fade 5s infinite;
}

.animation-fade-loop {
  animation: fade-loop 7s infinite;
}

.animation-fade-loop-alt {
  animation: fade-loop-alt 7s infinite;
}

@keyframes move-dot1 {
  0% {
    transform: translateX(-50%) translateY(-50%);
  }

  20% {
    transform: translateX(-50%) translateY(30%);
  }

  100% {
    transform: translateX(-50%) translateY(30%);
  }
}

@keyframes move-dot2 {
  0% {
    transform: translateX(-50%) translateY(-50%);
  }

  15% {
    transform: translateX(-50%) translateY(-10%);
  }

  30% {
    transform: translateX(-10%) translateY(-10%);
  }

  100% {
    transform: translateX(-10%) translateY(-10%);
  }
}

.animation-example {
  /* position: relative; */
  height: 40vmin;
  width: 40vmin;
  display: flex;
  align-items: center;
  justify-content: center;

  .item {
    position: absolute;
    top: 0;
    left: 50%;
    height: 50%;
    width: 50%;
    transform: translateX(-50%);
    transform-origin: 50% 100%;
    pointer-events: none;
  }

  .item:nth-child(2) {
    transform: translateX(-50%) rotate(90deg);
  }

  .item:nth-child(3) {
    transform: translateX(-50%) rotate(180deg);
  }

  .item:nth-child(4) {
    transform: translateX(-50%) rotate(270deg);
  }

  .item > .line {
    height: 100%;
    width: "calc(50% + 1px)";
    border-right: 2px dashed var(--primary);
  }

  .item > .dot {
    position: absolute;
    /* left: 50%; */
    /* top: 10%; */
    /* transform: translateX(-50%) translateY(-50%); */
    height: 100%;
    width: 100%;
    /* animation: move-dot1 5.5s linear infinite; */
  }

  .item > .dot::after {
    content: "";
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    transform: translateX(-50%) translateY(-50%);
    height: 5%;
    width: 5%;
    background: var(--green-accentTwo);
    border: 2px solid var(--primary);
    border-radius: 50%;
  }

  .item > .circle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 25%;
    width: 25%;
    border-radius: 50%;
    background-image: linear-gradient(
      40deg,
      #18298b 0%,
      #10e27d 45%,
      #e8e8cd 100%
    );
    padding: 50%;
  }

  .item.-type2 {
    top: 0;
    left: 0;
    transform: none;
    transform-origin: 100% 100%;
  }

  .item.-type2:nth-child(5) {
    transform: scaleX(-100%);
  }

  .item.-type2:nth-child(6) {
    transform: scaleX(-100%) scaleY(-100%);
  }

  .item.-type2:nth-child(7) {
    transform: scaleY(-100%);
  }

  .item.-type2 > .line {
    position: absolute;
    top: 30%;
    left: "calc(30% - 1px)";
    width: 70%;
    height: 40%;
    border-right: none;
    /* border-left: 2px dashed var(--primary);
    border-bottom: 2px dashed var(--primary); */
  }

  .item.-type2 > .dot {
    top: 30%;
    left: 30%;
  }

  .item.-type2 > .circle {
    top: 30%;
    left: 30%;
    transform: translateX(-50%) translateY(-50%);
  }

  /* .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 50%;
    width: 50%;
  }

  .center > .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
  }

  .center > .circle:nth-child(1) {
    height: 100%;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 3vmin rgba(0, 0, 0, 0.1);
  }

  .center > .circle:nth-child(2) {
    height: 80%;
    width: 80%;
    border: 2px solid var(--primary);
  }

  .center > .circle:nth-child(3) {
    height: 50%;
    width: 50%;
    background: var(--primary);
  } */
}

.parent {
  height: 100%;
  perspective: 1000px;
}

.card-contact {
  border-radius: 50px;
  background: linear-gradient(135deg, #10e27d 0%, rgb(8, 226, 96) 100%);
  transition: all 0.5s ease-in-out;
  transform-style: preserve-3d;
  box-shadow: rgba(5, 71, 17, 0) 40px 50px 25px -40px,
    rgba(5, 71, 17, 0.2) 0px 25px 25px -5px;
}

.glass {
  transform-style: preserve-3d;
  position: absolute;
  inset: 8px;
  border-radius: 55px;
  border-top-right-radius: 100%;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.349) 0%,
    rgba(255, 255, 255, 0.815) 100%
  );
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  transform: translate3d(0px, 0px, 25px);
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  transition: all 0.5s ease-in-out;
}

.content-card {
  padding: 100px 60px 0px 30px;
  transform: translate3d(0, 0, 26px);
}

.content-card .title {
  display: block;
  color: #00894d;
  font-weight: 900;
  font-size: 20px;
}

.content-card .text {
  display: block;
  color: rgba(0, 137, 78, 0.7647058824);
  font-size: 15px;
  margin-top: 20px;
}

.bottom {
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 26px);
}

.bottom .social-buttons-container {
  /* display: flex;
  flex-direction: column;
  gap: 10px; */
  transform-style: preserve-3d;
}

.bottom .social-buttons-container .social-button {
  width: 30px;
  aspect-ratio: 1;
  padding: 5px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  border: none;
  display: grid;
  place-content: center;
  box-shadow: rgba(5, 71, 17, 0.5) 0px 7px 5px -5px;
}

.bottom .social-buttons-container .social-button:first-child {
  transition: transform 0.2s ease-in-out 0.4s, box-shadow 0.2s ease-in-out 0.4s;
}

.bottom .social-buttons-container .social-button:nth-child(2) {
  transition: transform 0.2s ease-in-out 0.6s, box-shadow 0.2s ease-in-out 0.6s;
}

.bottom .social-buttons-container .social-button:nth-child(3) {
  transition: transform 0.2s ease-in-out 0.8s, box-shadow 0.2s ease-in-out 0.8s;
}

.bottom .social-buttons-container .social-button .svg {
  width: 15px;
  fill: #00894d;
}

.bottom .social-buttons-container .social-button:hover {
  background: black;
}

.bottom .social-buttons-container .social-button:hover .svg {
  fill: white;
}

.bottom .social-buttons-container .social-button:active {
  background: rgb(255, 234, 0);
}

.bottom .social-buttons-container .social-button:active .svg {
  fill: black;
}

.logo {
  position: absolute;
  right: 0;
  top: 0;
  transform-style: preserve-3d;
}

.logo .circle {
  display: block;
  position: absolute;
  aspect-ratio: 1;
  border-radius: 50%;
  top: 0;
  right: 0;
  box-shadow: rgba(100, 100, 111, 0.2) -10px 10px 20px 0px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: rgba(0, 249, 203, 0.2);
  transition: all 0.5s ease-in-out;
}

.logo .circle1 {
  width: 170px;
  transform: translate3d(0, 0, 20px);
  top: 8px;
  right: 8px;
}

.logo .circle2 {
  width: 140px;
  transform: translate3d(0, 0, 40px);
  top: 10px;
  right: 10px;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  transition-delay: 0.4s;
}

.logo .circle3 {
  width: 110px;
  transform: translate3d(0, 0, 60px);
  top: 17px;
  right: 17px;
  transition-delay: 0.8s;
}

.logo .circle4 {
  width: 80px;
  transform: translate3d(0, 0, 80px);
  top: 23px;
  right: 23px;
  transition-delay: 1.2s;
}

.logo .circle5 {
  width: 50px;
  transform: translate3d(0, 0, 100px);
  top: 30px;
  right: 30px;
  display: grid;
  place-content: center;
  transition-delay: 1.6s;
}

.logo .circle5 .svg {
  width: 20px;
  fill: white;
}

.parent:hover .card-contact {
  transform: rotate3d(1, 1, 0, 30deg);
  box-shadow: rgba(5, 71, 17, 0.3) 30px 50px 25px -40px,
    rgba(5, 71, 17, 0.1) 0px 25px 30px 0px;
}

.parent:hover .card-contact .bottom .social-buttons-container .social-button {
  transform: translate3d(0, 0, 50px);
  box-shadow: rgba(5, 71, 17, 0.2) -5px 20px 10px 0px;
}

.parent:hover .card-contact .logo .circle2 {
  transform: translate3d(0, 0, 60px);
}

.parent:hover .card-contact .logo .circle3 {
  transform: translate3d(0, 0, 80px);
}

.parent:hover .card-contact .logo .circle4 {
  transform: translate3d(0, 0, 100px);
}

.parent:hover .card-contact .logo .circle5 {
  transform: translate3d(0, 0, 120px);
}

.expanded .card-contact {
  transform: rotate3d(1, 1, 0, 30deg);
  box-shadow: rgba(5, 71, 17, 0.3) 30px 50px 25px -40px,
    rgba(5, 71, 17, 0.1) 0px 25px 30px 0px;
}

.expanded .card-contact .bottom .social-buttons-container .social-button {
  transform: translate3d(0, 0, 50px);
  box-shadow: rgba(5, 71, 17, 0.2) -5px 20px 10px 0px;
}

.expanded .card-contact .logo .circle2 {
  transform: translate3d(0, 0, 60px);
}

.expanded .card-contact .logo .circle3 {
  transform: translate3d(0, 0, 80px);
}

.expanded .card-contact .logo .circle4 {
  transform: translate3d(0, 0, 100px);
}

.expanded .card-contact .logo .circle5 {
  transform: translate3d(0, 0, 120px);
}

.card1 {
  background-image: linear-gradient(163deg, #10e27d 0%, #3700ff 100%);
  border-radius: 22px;
  transition: all 0.3s;
}

.card2 {
  /* border-radius: 0; */
  transition: all 0.2s;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card1:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
}

.outer {
  padding: 1px;
  background: radial-gradient(circle 230px at 0% 0%, #ffffff, #0c0d0d);
  position: relative;
}

.move-dot {
  width: 5px;
  aspect-ratio: 1;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px #ffffff;
  border-radius: 100px;
  z-index: 2;
  right: 10%;
  top: 10%;
  animation: moveDot 6s linear infinite;
}

@keyframes moveDot {
  0%,
  100% {
    top: 10%;
    right: 10%;
  }
  25% {
    top: 10%;
    right: calc(100% - 35px);
  }
  50% {
    top: calc(100% - 30px);
    right: calc(100% - 35px);
  }
  75% {
    top: calc(100% - 30px);
    right: 10%;
  }
}

.card-dot {
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 9px;
  border: solid 1px #202222;
  background-size: 20px 20px;
  background: radial-gradient(circle 280px at 0% 0%, #444444, #0c0d0d);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  color: #fff;
}

.ray {
  width: 220px;
  height: 45px;
  border-radius: 100px;
  position: absolute;
  background-color: #c7c7c7;
  opacity: 0.4;
  box-shadow: 0 0 50px #fff;
  filter: blur(10px);
  transform-origin: 10%;
  top: 0%;
  left: 0;
  transform: rotate(40deg);
}

.card-dot .text {
  font-weight: bolder;
  font-size: 4rem;
  background: linear-gradient(45deg, #000000 4%, #fff, #000);
  background-clip: text;
  color: transparent;
}

.line {
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #2c2c2c;
}
.topl {
  top: 10%;
  background: linear-gradient(90deg, #888888 30%, #1d1f1f 70%);
}
.bottoml {
  bottom: 10%;
}
.leftl {
  left: 10%;
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg, #747474 30%, #222424 70%);
}
.rightl {
  right: 10%;
  width: 1px;
  height: 100%;
}
