@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cabinet Grotesk";
  src: url(../public/FontshareKit-2406001166/FontshareKit-2406001166/CabinetGrotesk/Fonts/OTF/CabinetGrotesk-Extrabold.otf)
    format("truetype");
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h1,
h5 {
  font-family: "Cabinet Grotesk", sans-serif;
}

/* .blob {
  @apply bg-gradient-to-r from-gradientStart to-gradientEnd rounded-[42%_58%_70%_30%_/_45%_45%_55%_55%] w-10 h-10 relative mb-0 cursor-pointer;
  animation: anim 3s linear infinite;
  transform-style: preserve-3d;
  outline: 1px solid transparent;
  will-change: border-radius;
}

.blob::before,
.blob::after {
  content: "";
  @apply absolute top-0 left-0 w-10 h-10 rounded-[42%_58%_70%_30%_/_45%_45%_55%_55%];
  box-shadow: 5px 5px 89px rgba(0, 102, 255, 0.21);
  will-change: border-radius, transform, opacity;
  background-image: linear-gradient(
    120deg,
    rgba(0, 67, 255, 0.55) 0%,
    rgba(0, 103, 255, 0.89) 100%
  );
}

.blob::before {
  animation: anim 1.5s linear infinite 200ms;
  opacity: 0.21;
}

.blob::after {
  animation: anim 3s linear infinite 400ms;
  opacity: 0.89;
}

.animate-span::before {
  content: "";
  position: absolute;
  width: 50vmin;
  height: 50vmin;
  background: radial-gradient(circle at 0% 0%, hotpink, slateblue);
  border-radius: 30% 70% 53% 47% / 26% 46% 54% 74%;
  box-shadow: 0 -2vmin 4vmin LightPink inset, 0 1vmin 4vmin MediumPurple inset,
    0 -2vmin 7vmin purple inset;
  filter: drop-shadow(0 0 3vmin Thistle) drop-shadow(0 5vmin 4vmin Orchid)
    drop-shadow(2vmin -2vmin 15vmin MediumSlateBlue)
    drop-shadow(0 0 7vmin MediumOrchid);
  animation: anim 30s infinite;
} */

.box {
  @apply w-[250px] lg:w-full h-[200px] bg-boxBackground relative shadow-customTwo;
}

.box::before,
.box::after {
  mix-blend-mode: multiply;
  filter: none;
  z-index: -1;
  content: "";
  width: calc(100% + (50px * 2));
  height: calc(100% + (50px * 2));
  position: absolute;
  display: block;
  animation: border 10s ease-in-out infinite;
  transform: translateX(-50px) translateY(-50px);
}

.box::before {
  background-color: #eab9c8;
  clip-path: polygon(
    calc(0% + 33.333px) calc(0% + 33.333px),
    100% 0,
    calc(100% - 33.333px) calc(100% - 33.333px),
    0 100%
  );
}

.box::after {
  animation-delay: -5s;
  background-color: #93e1d8;
  clip-path: polygon(
    0 0,
    calc(100% - 33.333px) calc(0% + 33.333px),
    100% 100%,
    calc(0% + 33.333px) calc(100% - 33.333px)
  );
}

.box:hover::before,
.box:hover::after {
  animation-duration: 0.2s;
}

.box:hover::after {
  animation-delay: -0.1s;
}
